.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
  background-color: #1a1919;
  min-height: calc(100vh - 150px);
}

.articles-container p {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}
